<footer class="footer">
  <div class=" container-fluid ">
    <nav>
      <ul>
        <li>
          <a href="https://www.stvc.edu.et">
            Selam CDMS
          </a>
        </li>
        <li>
          <a href="http://stvc.edu.et">
            About Us
          </a>
        </li>
       
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      © <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>2025, Designed by <a href="https://www.stvc.edu.et" target="_blank">Selam CDMS</a>. Coded by <a href="https://www.stvc.edu.et" target="_blank">Selam</a>.
    </div>
  </div>
</footer>